<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar" [routerLink]="['/home']">EldoradoChallenge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="navbar" [routerLink]="['/devices']">Devices</a>
      <a class="navbar" [routerLink]="['/categories']">Categories</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
