<h3>New Device</h3>

<div class="well">
  <form #formDevice="ngForm">
    <div class="form-group">
      <!-- CATEGORY -->
      <label for="power">Category</label>
      <select class="form-control"  id="category" name="category"
          [(ngModel)]="device.category_id" #category="ngModel" required>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
      <div *ngIf="category.errors && (category.dirty || category.touched)"
            class="alert alert-danger">
        <div [hidden]="!category.errors.required">
          Select a Category
        </div>
      </div>

      <!-- COLOR -->
      <label for="color">Color:</label>
      <input type="text" class="form-control" id="color" name="color"
        [(ngModel)]="device.color" #color="ngModel" pattern="[a-zA-Z]*"
        maxlength="16" required>
      <div *ngIf="color.errors && (color.dirty || color.touched)"
            class="alert alert-danger">
        <div [hidden]="!color.errors.required">
          Type the Device Color
        </div>
        <div [hidden]="!color.errors.maxlength">
          The Color text could not have more than 16 letters
        </div>
        <div [hidden]="!color.errors.pattern">
          The Color name should have only letters
        </div>
      </div>

      <!-- PARTNUMBER -->
      <label for="partnumber">PartNumber:</label>
      <input type="number" class="form-control" id="partnumber" name="partnumber"
        [(ngModel)]="device.partNumber" #partnumber="ngModel" max=2147483647
        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"
        min="0" required>
      <div *ngIf="partnumber.errors && (partnumber.dirty || partnumber.touched)"
            class="alert alert-danger">
        <div [hidden]="!partnumber.errors.max">
          The PartNumber should be less than 2147483647
        </div>
        <div [hidden]="!partnumber.errors.required">
          Type the Device PartNumber
        </div>
        <div [hidden]="!partnumber.errors.min">
          The PartNumber could not be negative
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <input
        type="submit"
        class="btn btn-success"
        (click)="newDevice()"
        value="Confirm"
        [disabled]="!formDevice.form.valid">
      <a [routerLink]="['/devices']"
        class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"
          aria-hidden="true"></span> Voltar
      </a>
    </div>
  </form>
</div>
